.menu {
  min-width: 300px;
  max-width: 300px;
    a {
      background-color: #000;
      color: white;
      display: block;
      padding: 12px;
      text-decoration: none;
    }
    a:hover {
      background-color: #ccc;
    }
    a.active {
      background-color: #f55e27;
      color: white;
    }
  }
  
