@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  margin: 10px auto;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 



.container {
    max-width: 1440px;
    margin: 0 auto;
    .cont{
        .description p{
            font-family: 'Yomogi';
            font-size: 20px;
            font-weight: bold;
        }
         .ingredients p{
            font-size: 20px;
            font-family: 'Yomogi';
            font-weight: bold;
        }
    }
}

.img-container {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #f55e27;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    img {
        width: 100%;
    }
}
.container {
    display: flex;
    gap:20px;
    

  }
  
  .item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
    .img {
        width: 250px;
        height: 300;
        border-radius: 2%;
        object-fit: cover;
      }
      .favoris {
        position: absolute;
        width: 30px;
        top: 10;
        left: 10;
      }
    &:hover p {
      transform: translateY(0);
  
    }
    p{
      transform: translateY(50px);
      transition: 300ms;
    }
  
    .title {
      position: absolute;
      color: white;
      bottom: 20px;
      left: 20px;
      font-size: 20px;
      font-weight: 700;
    }
  }