@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset, label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  margin: 10px auto;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container .cont .description p {
  font-family: 'Yomogi';
  font-size: 20px;
  font-weight: bold;
}

.container .cont .ingredients p {
  font-size: 20px;
  font-family: 'Yomogi';
  font-weight: bold;
}

.img-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  background-color: #f55e27;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.img-container img {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.item .img {
  width: 250px;
  height: 300;
  border-radius: 2%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item .favoris {
  position: absolute;
  width: 30px;
  top: 10;
  left: 10;
}

.item:hover p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item p {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.item .title {
  position: absolute;
  color: white;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.cont .contents {
  width: 300px;
  height: 500px;
  margin-right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cont .contents #details {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont .contents h5 {
  opacity: 50%;
}

.cont .contents .title {
  font-size: 35px;
  -webkit-box-shadow: 12px;
          box-shadow: 12px;
}

.col {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

main {
  height: auto;
}

@media screen and (max-width: 800px) {
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .cont .contents {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  #details {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .rating {
    border: none;
  }
}

#Ingredients label {
  font-size: 20px;
  font-family: 'Yomogi';
  font-weight: bold;
  margin-left: 10px;
}
/*# sourceMappingURL=details.css.map */